*{

    /* box-shadow: inset 0px 0px 0px 1px rgba(255, 30, 0, 0.376); */  
    box-sizing: border-box;
     
}
h1, h2 ,h3, h4, h5, h6{font-family: Georgia, 'Times New Roman', Times, serif;}

body{
    margin: 0;
    padding: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}




:root{
    --var-azul: rgba(135, 187, 235, 0.568);
    --var-azul2: #87d1db;
    --var-black:rgb(25, 29, 29);
    --var-black2:rgb(26, 26, 26);
    --var-white2: rgb(218, 218, 218);
}
.cor{
    color: var(--var-azul);
}
.cor2{
    color: var(--var-white2);  
}
.azul2{
    color: var(--var-azul2);
}
.cor3{
    color:rgb(26, 26, 26); ;
}

.pNav{
    padding: 16px 0px 8px 0px;
}
.banner {
    background: url('/imagens/empresa1.png'); 
    background-size: cover ;
}
a{
    margin-left: 1.2em;
}
a:hover{
    text-decoration: none;
}

.wrapper{
   max-width: 100%;
   min-height: 540px;
}
.caixa{
    margin-bottom: 1em;
    padding: 1em;
    border-left: 4px solid rgba(255, 255, 255, 0.5);
    border-bottom: 4px solid  rgba(255, 255, 255, 0.5);
}
.caixa h2{
    color: white;
}
.caixa2 p{
    font-size: 0.8em;
    text-transform: uppercase;
    color: white;
}
.botao{
    color: white;
    background: var(--var-azul)
}
.botao:hover{
    color: white;
    background: none;
    border:1px solid rgb(241, 238, 238);
}


/* secao2 */

.caixa3{
    width: 400px;
    display:inline-block;
    justify-content: center;
    text-align: center;
    color: white;
    
}
/* seção 3 */

@media(max-width:650px){
/* .banner{
    background:url('/imagens/Sem Título-1.png');
    display: flex;
    

} */
}

.card{
    border: 0;
    position: relative;
    width: 320px;
    max-height: 330px;
    /* margin: 20px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;   
}

.content{
    position: absolute;
    bottom: -85%;
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: brightness(50%);
    transition: bottom 0.5s;
    transition-delay: 0.1s;
}
.content:hover{
    bottom: 0px;
    transition-delay: 0s;
}

.contentBx{
    position: absolute;
    max-width: 300px;
    display: flex;
    justify-content: center;
    top: 10px;   
    flex-direction:column;
    /* justify-content: center;*/ 
}
@media(max-width:450px){
    /* .banner{
        width: 450px;
        height: 210px;
        background: url('/imagens/teste1.png');
    } */
    .content{display: none} 
}

.contentBx p{  
   margin-bottom: 0px;
   justify-content: center;
   display: flex; 
   color: white;
}
.contentBx a{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    text-decoration: none;
    color: rgb(95, 176, 251)
}

.quadro{
    height: 400px;
}

/* seção 4 */
.btn1{
    background-color: rgb(135, 209, 219);
    border-color:white;
    transition: 0.5s;
    
}
.btn1:hover{
    color: black;
    border: 1px solid black;
    background-color: white;
    transition-delay: 0.1s;
}

/* seção 5 */

.color{
    background: var(--var-black);
}
.color2{
    background: var(--var-black2);
}

.btn2{
    background-color: rgb(135, 209, 219);
    border-color:black;
    transition: 0.5s;
}

.btn2:hover{
    color: white;
    border: 1px solid white;
    background-color: var(--var-black);
}

/* seção 6 */
.quadrado{
    width: 500px;
    display:inline-block;
    justify-content: center;
    text-align: center;
}

.quadrado .p1{
    font-size: 12px;
}

/* seção 7 */

.img1{
    position: relative;
    justify-content: center;
    width: 640px;
    height: 380px;
    background-image: url('./imagens/folha1.png');
    transition: 0.5s;

}
.img1:hover{
    background-image: url('./imagens/fundo.png');
    cursor: pointer;
    transition-delay: 0.1s;

}
.img2{
    position: relative;
    justify-content: center;
    max-width: 640px;
    height: 380px;
    background-image: url('./imagens/folha2.png');
    transition: 0.5s;
}
.img2:hover{
    background-image: url('./imagens/fundo.png');    
    cursor: pointer;
    transition-delay: 0.1s
}
.img3{
    position: relative;
    justify-content: center;
    max-width: 640px;
    height: 380px;
    background-image: url('./imagens/folha3.png');
    transition: 0.5s;
}
.img3:hover{
    background-image: url('./imagens/fundo.png');
    cursor: pointer;
    transition-delay: 0.1s;
}
/* .pos{
    max-width: ;
} */
.texto{
    position: absolute;
    display: flex;
    max-width: 450px;
    top: 110px; 
    left: 110px;   
}
@media(max-width:400px){
.texto{
    left: 30px;
    margin-right: 20px;
    }

}
.btn3{
    background-color: rgb(135, 209, 219);
    border-color:rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.btn3:hover{
    color: white;
    border: 1px solid white;
    background-color: var(--var-black);
}




/* .card1{
    position: relative;
    
    display: flex;
    justify-content: center;
  
}
.card1:hover{ 
    background-color: black;     
}
 .conteudo{
    display: flex; 
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 100px;
   
}

.imgCard1{
    width: 640px;
    height: 380px;
    background-image: url(./imagens/folha1.png);
    transition: 1s;
    
    
}    
.imgCard1:hover{
    cursor: pointer;
    background-image: url(./imagens/fundo.png);
    transition-delay: 0.2s;

}
.imgCard2{
    width: 640px;
    height: 380px;
    background-image: url(./imagens/folha2.png);
    transition: 1s;
}
.imgCard2:hover{
    cursor: pointe;
    background-image: url(./imagens/fundo.png);
    transition-delay: 0.2s;
}
.imgCard3{
    width: 640px;
    height: 380px;
    background-image: url(./imagens/folha3.png);
    transition: 1s;
}
.imgCard3:hover{
    cursor: pointer;
    background-image: url(./imagens/fundo.png);
    transition-delay: 0.2s;
}
 .conteudobx{
    display: flex; 
    position: relative;
    justify-content: center;
    
   
    
    background-image: url(./imagens/fundo.png);

}

.box{
    background-image: url('./imagens/katerine.jpg');
    
   
}
.box:hover{
    background-image: none;
}

 */
















 
/* .conteudo:hover{
    background-color: black;
}
 */     
   /*  justify-content: center; */
/* .quadrado h3{
   display: inline-block;
}
 */







/* .imgI{
    position: relative; 
}

.i{
    
    margin: auto;
    border: 1px solid rgb(233, 23, 23); 
    position: absolute;
     position: fixed;  
    top: 150px;
}
. textoImg{
    position: absolute;
    color: white;
    top: 250px;  
     left: 100px; 
} 

 .wrapper{
    padding: 1em;
    width: 350px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
} 
h3{
    display:block;
    color: white;
}

.h2{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0.5em;
}
 .banner{
   
    background: url(imagens/empresa1.png);
    background-size: contain;
   
} 
*/